{% extends 'front/base.html.twig' %}

{% block content %}
    <section style="
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    ">
        <a href="{{ path('admin_sign_in') }}" style="font-size: 30px;">Login page</a>
    </section>
{% endblock %}